# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.scannerwork

node_modules
dist
dist-ssr
# Normalde *.local dosyaları git'e eklenmez. Örneğin: .env.local dosyası
# .env.local dosyası genellikle kişisel ayarları içerir ve bu nedenle
# genellikle git'e eklenmez. Ancak bu proje bir eğitim projesi olduğu için
# bu dosyaların git'e eklenmesi gerekiyor.
# *.local

coverage
test-results
html

# Editor directories and files
#.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
